.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top: 0;
  right: 0;
}

::ng-deep .icon-outside .mat-dialog-container {
 overflow: unset
}
.input-full-width {
  width: 100%;
}
