<!-- <button mat-icon-button class="close-button" (click)="closeDialog()">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button> -->
<div mat-dialog-title>
  <span style="font-size: 25px; font-weight: 700">Forget your password?</span
  ><br />
  <small>Please provide your e-mail.</small>
  <small>You will receive an email with instructions to reset your password if an account exists for this email address.</small>
</div>
<div mat-dialog-content>
  <mat-form-field class="input-full-width">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="resetPasswordEmail" matInput (ngModelChange)="checkValidEmail($event)">
  </mat-form-field>
  <mat-error *ngIf="!resetPasswordEmail">Please enter a valid email address</mat-error>
  <mat-error *ngIf="!isValidEmail && resetPasswordEmail">*This email is invalid*</mat-error>
  <p>Already have an account? <span>Sign In</span></p>
  <p>Don't have an account yet? <span>Create Account</span></p>
  <p>Follow Us</p>
  <p>Twitter, LinkedIn, Facebook, Youtube, Instagram, TikTok</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button cdkFocusInitial (click)="submitForgotPassword()">Send</button>
</div>
<!-- <p> -->
  <!-- <input matInput type="email" name="email" [(ngModel)]="email" placeholder="email" /> -->
  <!-- <mat-form-field>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput type="email" [(ngModel)]="email" placeholder="email" />
  </mat-form-field> -->
<!-- </p> -->
