<!-- <div class="row">
  <div class="col-sm-6 col-lg-3" *ngFor="let category of categories">
    <mat-card class="cardWithShadow productcard overflow-hidden">
      <button mat-flat-button color="primary" class="w-30">
        Sign In
      </button>
    </mat-card>
  </div>
</div> -->
<div class="card-container">
  <div class="card-container-inner">
    <ng-container *ngFor="let category of categories">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <h1>{{ category.title }}</h1>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{category.img}}" alt="">
        <mat-card-content class="b-t-1">
          <p>{{ category.content }}</p>
          <button mat-flat-button color="primary" class="m-t-8">
            Join Challenge
          </button>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </ng-container>
  </div>
</div>
