<div class="container responsive-grid">
  <mat-card *ngFor="let category of categories">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ category.title }}</h1>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{category.img}}" alt="">
    <mat-card-content class="b-t-1">
      <p>{{ category.content }}</p>
      <button id="{{category.id}}" mat-flat-button color="primary" class="m-t-8" (click)="joinChallenge(category.id)">
        Join Challenge
      </button>
    </mat-card-content>
  </mat-card>
</div>
<!-- <div class="card-container">
  <div class="card-container-inner">
    <ng-container *ngFor="let category of categories">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <h1>{{ category.title }}</h1>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{category.img}}" alt="">
        <mat-card-content class="b-t-1">
          <p>{{ category.content }}</p>
          <button mat-flat-button color="primary" class="m-t-8" (click)="joinChallenge()">
            Join Challenge
          </button>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div> -->
