.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  height: 40vh;
  margin: 150px 0 0 0;
  .card-container-inner {
    display: flex;
    flex-direction: row;
    .card {
      margin: 0 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0 15px;
      }
    }
  }
}

