<ng-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div>
        <span>Fitness Now!</span>
        <!-- <a mat-button routerLink="dashboard">Home</a> -->
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/dashboard">Dashboard</a>
        <a mat-button>Contact</a>
      </div>
      <span class="flexExpand"></span>
     <ng-container>
      <div>
        <a mat-button (click)="logout()">Logout</a>
      </div>
     </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
