<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="slideSideNav()">
    <!-- <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler> -->
    <mat-icon>menu</mat-icon>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <!-- <button mat-icon-button aria-label="Menu" (click)="toggleDesktopNav.emit()" *ngIf="showToggle">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="flex-1-auto"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
    <img
      src="/assets/images/profile/user-3.jpg"
      class="rounded-circle object-cover"
      width="35"
    />
  </button> -->
  <!-- <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">

    <div class="p-x-12 m-t-12">
      <a
        [routerLink]="['/authentication/login']"
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu> -->
</mat-toolbar>
